1.5/Source/Core40k/obj
1.5/Source/Core40k/bin
1.5/Source/Core40k/Core40k.sln.DotSettings.user
1.5/Source/Core40k/.idea
1.5/Source/Core40k/.vs
1.6/Source/Core40k/obj
1.6/Source/Core40k/bin
1.6/Source/Core40k/Core40k-1.6.sln.DotSettings.user
1.6/Source/Core40k/.idea
1.6/Source/Core40k/.vs
1.6/Source/Core40k/packages
1.6/Source/Core40k/Properties/packages.config